body{
    display: grid;
    grid-template-columns: 100%;
    background-color: slategray;
    font-family: Calibri,sans-serif;
}

.logo{
    max-width: 100%;
}

header{
    display: grid;
    background-color: #1a1a1a;
    justify-content: center;
}

.info{
    font-size: medium;
    color: white;
}

main{
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto 4em;
}

.choice_frame{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    background-color: orangered;
    align-items: end;
}

.choice_frame label{
    color: white;
    width: 100%;
    font-size: x-large;
}

.choice_frame select{
    font-size: large;
    width: 100%;
}

.createQuiz{
    display: flex;
    background-color: #1a1a1a;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

.createQuiz:hover{
    background-color: #9f9f9f;
    cursor: pointer;
}

footer{
    display: grid;
    grid-template-columns: 1em 1em auto;
    justify-content: flex-start;
}

.author{
    grid-column: 1/ span 3;
    font-size: medium;
}

.social_icon{
    max-width: 1em;
}

.trivia_icon{
    max-width: 2em;
}

@media screen and (min-width: 1126px){

    body{
        grid-template-columns: auto;
        margin: 5vh 30vw 0 30vw;
    }

    header{
        display: flex;
        justify-content: flex-start;
    }

    footer{
        grid-template-columns: 2em 2em auto;
    }

    .logo{
        width: 20em;
        max-height: 115px;
    }

    .social_icon{
        max-width: 2em;
    }

    .trivia_icon{
        max-width: 4em;
    }
}