/* Standard style settings */
/* Phone & Ipad - Portrait */

body{
    background-color: slategray;
    font-family: Calibri,sans-serif;
    color: white;
}

.bodyGrid{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.headerGrid{
    display: grid;
    grid-template-columns: 100%;
    background-color: #1a1a1a;
}

.logo{
    background: url("../res/logo.svg") no-repeat center top;
    background-size: contain;
    border: 1vh solid #1a1a1a;
    min-height: 10vh;
}

.info{
    justify-self: center;
    font-size: 3vh;
}

.choiceGrid{
    display: grid;
    background-color: dodgerblue;
}

.choiceGrid label{
    color: white;
    padding: 1vh 0 0 1vw;
    font-size: 6vh;
}

.choiceGrid select{
    font-size: large;
    border: none;
    -webkit-appearance: none;
}

.createQuiz{
    background: #1a1a1a url("../res/createquiz.svg") no-repeat center;
    background-size: contain;
    border: 1vh solid #1a1a1a;
    min-height: 10vh;
}

.createQuiz:hover{
    background-color: #9f9f9f;
    border-color: #9f9f9f;
    cursor: pointer;
}

.footerGrid{
    display: grid;
    grid-template-columns: repeat(2, min-content) auto;
}

.author{
    grid-column: 1 / span 3;
}

.socialIcon{
    max-width: 2em;
}

.triviaIcon{
    max-width: 4.2em;
}

.errorBox{
    display: block;
    min-height: 9vh;
}

.errorMessage.invisible{
    display: none;
}

.errorMessage.show{
    display: block;
    text-align: center;
    font-size: 2.5vh;
    padding: 1vh;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

@-webkit-keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-5vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Phone & Ipad - Landscape */
@media only screen and (min-device-width: 376px) and (orientation: landscape) {

    .bodyGrid{
        grid-template-columns: 45% 55%;
        grid-template-rows: 60vh auto auto;
    }

    .info{
        font-size: 2.7vw;
    }

    .choiceGrid label{
        color: white;
        padding: 1vh 0 0 1vw;
        font-size: 5vw;
    }

    .createQuiz{
        min-height: 14vh;
        margin-top: 5vh;
        grid-column: 1 / span 2;
    }

    .footerGrid{
        grid-row-start: 3;
    }
}

/* Ipad - Portrait */
@media only screen and (min-device-width: 600px) and (orientation: portrait){

    .choiceGrid select {
        font-size: 3.5vh;
    }



}

/* Ipad - Landscape */
@media only screen and (min-device-width: 1000px) and (orientation: landscape) {

    .createQuiz {
        margin-top: 13vh;
    }

    .choiceGrid select {
        font-size: 3.5vh;
    }

}

/* Desktop */
@media only screen and (min-device-width: 1200px){

    .bodyGrid{
        grid-template-columns: auto 40% auto;
        grid-template-rows: 60vh auto auto;
    }

    select:hover{
        cursor: pointer;
    }

    .author{
        font-size: 2vh;
    }

    .socialIcon{
        max-width: 3vw;
    }

    .triviaIcon{
        max-width: 6.5vw;
    }

}