/* Standard style settings */
/* Phone & Ipad - Portrait */

body{
    background-color: slategray;
    font-family: Calibri,sans-serif;
    color: white;
}

.bodyGrid{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background: #1a1a1a url("../res/questionMark.svg") no-repeat top;
    background-size: 80vw 60vh;
    min-height: 97vh;
}

.invisible{
    display: none;
}

.progressGrid{
    display: grid;
    justify-content: center;

}

.progressLine{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 1em 0 1em;
    align-items: center;
}

.player{
    margin-right: 0.5em;
    border-radius: 0.5em;
    background-color: darkred;
}

.player.active{
    color: black;
    box-shadow: 0 0 4px 2px greenyellow;
    background-color: greenyellow;
}

.progressBar{
    display: flex;
}

.progSegment{
    margin: 0.5em 0 0.5em 0.1em;
    width: 1em;
    height: 0.5em;
    background-color: dodgerblue;
}

.progSegment.correct{
    background-color: limegreen;
}

.progSegment.wrong{
    background-color: red;
}

.progressNumber{
    margin: 0.5em 0 0.5em 0.5em;
}

.question{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    padding: 0.5em;
    font-size: 4.5vh;
}

.loaderGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

}

.loaderFlex{
    display: flex;
    width: 97em;
    justify-content: center;
}

.loadBox{
    height: 1em;
    width: 1em;
    margin: 1em;
    background-color: white;
}

.low{
    margin-top: auto;
}

.answerGrid{
    display: grid;
    justify-content: center;
    background-color: white;
    grid-template-columns: 100%;
    min-height: 15vh;
    grid-gap: 0.3em;
    padding: 0.5em;
}

.answer{
    display: grid;
    justify-content: center;
    background-color: #1a1a1a;
    padding: 0.5em;
    cursor: pointer;
    font-size: 2.6vh;
    align-items: center;
    text-align: center;
}

.answer.selected{
    background-color: dodgerblue;
}

.lockAnswer{
    background: mediumpurple url("../res/locktheanswer.svg") no-repeat center;
    background-size: contain;
    border: 0.5em solid mediumpurple;
    min-height: 10vh;
}

.lockAnswer:hover{
    background-color: rebeccapurple;
    border-color: rebeccapurple;

}

/* Phone & Ipad - Landscape */
@media only screen and (min-device-width: 376px) and (orientation: landscape) {
    .bodyGrid {
        min-height: 96vh;
        background-size: 28vw 52vh;
        background-position: top right;
    }

    .progressGrid {
        grid-template-columns: auto auto;
    }

    .player {
        margin-left: 1.5em;
    }

    .question {
        font-size: 3.5vw;
    }

    .answerGrid {
        grid-template-columns: 50% 50%;
        padding: 0.4em;
    }

    .answer {
        font-size: 2.6vw;
    }
}

/*Ipad - Portrait */
@media only screen and (min-device-width: 768px) {

    .bodyGrid{
        min-height: 98vh;
        font-size: large;
    }

    .progressGrid{
        grid-template-columns: auto auto;
        margin-top: 2vh;
    }

    .question{
        font-size: 4.5vh;
    }

    .answer{
        font-size: x-large;
    }
}

/*Desktop*/
@media screen and (min-width: 1025px) {

    .bodyGrid{
        grid-template-columns: 30% 40% 30%;
        background-size: 22vw 52vh;
        background-position: top;
        min-height: 98vh;
        font-size: large;
    }

    .top{
        grid-column-start: 2;
    }

    .player{
        text-align: center;
        border-radius: 1em;
        min-width: 2em;
    }

    .progSegment{
        margin: 0.5em 0 0.5em 0.2em;
        width: 2em;
        height: 1em;
    }

    .progressGrid{
        margin-top: 5vh;
    }

    .question{
        font-size: 4.5vh;
    }

    .low{
        grid-column-start: 2;
        margin-bottom: 3vh;
    }

    .answer{
        font-size: x-large;
    }


}