body{
    background-color: slategray;
    font-family: Calibri,sans-serif;
}

.bodyGrid{
    display: grid;
    min-height: 97vh;
    justify-content: center;
    background-color: slategray;
    color: white;
}


.invisible{
    display: none;
}

.loaderGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;

}

.loaderText{
    font-size: x-large;
    text-align: center;
}

.loaderFlex{
    display: flex;
    width: 97em;
    justify-content: center;
}

.loadBox{
    height: 1em;
    width: 1em;
    margin: 1em;
    background-color: white;
}

.low{
    margin-top: auto;
}

.progressGrid{
    display: grid;
    justify-content: center;
    min-width: 97vw;
    background-color: #1a1a1a;

}

.progressLine{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.player{
    margin-right: 0.5em;
    margin-left: 1.5em;
    text-align: center;
    border-radius: 0.5em;
    max-width: 1.25em;
    color: white;
    background-color: darkred;
}

.player.active{
    color: black;
    box-shadow: 0 0 4px 2px greenyellow;
    background-color: greenyellow;
}

.progressBar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.progSegment{
    margin: 0.5em 0 0.5em 0.1em;
    width: 1em;
    height: 0.5em;
    background-color: dodgerblue;
}

.progSegment.correct{
    background-color: limegreen;
}

.progSegment.wrong{
    background-color: red;
}

.progressNumber{
    margin: 0.5em 0 0.5em 0.5em;
    text-align: start;
}

.question{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    padding: 0.5em;
    text-shadow: 0.1em 0.1em 0 #1a1a1a;
    font-size: 1.3em;
    background-color: darkblue;
}

.answerGrid{
    display: grid;
    justify-content: center;
    background-color: darkblue;
    grid-template-columns: 100%;
    min-height: 25vh;
    grid-gap: 0.3em;
    padding: 0.5em;

}

.answer{
    display: grid;
    justify-content: center;
    background-color: #1a1a1a;
    box-shadow:inset 2px 2px 2px 0 white;
    padding: 0.5em;
    cursor: pointer;
    align-items: center;
}

.answer.selected{
    background-color: dodgerblue;
    box-shadow:inset -2px -2px 2px 0 white;
}

.answer.final{
    background-color: mediumpurple;
    border: 1px solid darkblue;
    min-height: 7vh;
    padding: 0;
    font-size: x-large;
    box-shadow: none;
}

.answer.final:hover{
    background-color: rebeccapurple;

}

@media only screen and (min-device-width: 600px) and (orientation: landscape) {
    .bodyGrid{
        min-height: 96vh;
    }

    .progressGrid{
        grid-template-columns: auto auto;
    }

    .question{
        min-height: 10vh;
    }

    .answerGrid{
        grid-template-columns: 50% 50%;
    }

    .answer.final{
        min-height: 10vh;
    }
}

@media only screen and (min-device-width: 1025px) {

    .bodyGrid{
        grid-template-columns: auto 60vw;
    }

    .bodyGrid .top {
        grid-column-start: 2;
    }

    .bodyGrid .low {
        grid-column-start: 2;
    }

    .progressGrid{
        min-width: 100%;
    }

    .question{
        font-size: xx-large;
    }

    .answerGrid{

    }

    .answer{
        font-size: x-large;
    }

}